## Mac hidden files:
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin
*.xcworkspacedata
*.plist
*.xcuserstate
carte-filtres-rb/codes-c++/calcul-meilleurs-pontages-pour-gamme-frequences
carte-filtres-rb/codes-c++/calcul-pontage-pour-plusieurs-frequences
carte-filtres-rb/codes-c++/calcul-pontage-pour-une-frequence-donnee
carte-filtres-rb/codes-c++/calcul-resistances-pour-2-frequences
